<% content_for :head do %>
  <meta name="title" content="About Us | Swap My Whip">
  <meta name="description" content="We're an online car trader site dedicated to keeping your car's value away from dealerships and in your pocket! Learn more today!">
<% end %>
<div id="content">
  <div class="page"> <img class="p_img" src="/assets/fullwidth.jpg" width="1050" />
    <div class="leftcontent">
      <div class="uppercontent"> <h1 class="headingh1">About <strong>Us | How Swap My Whip Was Born</strong></h1>
        <p>The idea for Swap My Whip came to me out of pure frustration. I was in search of an alternative to the traditional methods of selling and buying vehicles. Buying a new car was always fun and exciting, but selling a car? <em>Ugh</em>. I always dreaded that part of the process.
        </p>
        <p>While I'd noticed the occasional newspaper or Craigslist ads describing cars for trade by owner, the ads were always sporadic and never there when I could really use them. And working with dealerships and dealer websites? It always left me feeling like I got the raw end of the deal, like I was never getting a good value for my trade in.
        </p>
        <p>What I needed was a well-organized car trading website exclusively devoted to vehicle trading.</p>
        <p>Thus, the concept for Swap My Whip was born.</p>
        <p>It wasn’t easy. I set out to put together a team of professionals from programmers to graphic designers. My team and I collaborated on the project for the better part of a year, to ensure that every detail was perfect. An enormous amount of time, energy and thoughtful design went into making Swap My Whip a reality, and we believe we've created the best system to help you find a new car and create a new home for your old one.
        </p>
        <p>At Swap My Whip, we are committed to ensuring that every customer finds his or her right swap. From day one, our focus has been to offer our customers the opportunity to realize high value for their vehicle, in an environment that has never before offered it.
        </p>
        <p>This car trading website has been designed to promote a sense of community to its users, with the hope that honesty and fairness will play a key role in all the transactions that transpire here. We think you'll love Swap My Whip so much that you'll want to <a href="https://www.facebook.com/Swap-My-Whip-117420464960200/" style="color:#649D4A">spread the word.</a>
        </p>
        <p>Welcome! Now, go <%= link_to '"Get your Swap On!"', new_user_path, {:style=>'color:#649D4A'} %>
        </p>
        <p><b>Daniel Krause</b></p>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
